@charset "utf-8";



/**/

.header_right .category a.cat_hed {
    background: linear-gradient(to top, #3D52A0, #7091E6);
    color: #fff;
    border: 0;
}

.slider.custom_slider button.slide-arrow {
    background: linear-gradient(to top, #3D52A0, #7091E6);
    color: #fff;
    border: 0;
}

.about .about_box {
    background: linear-gradient(to bottom, #8697C4, #35488c, #334586);
    box-shadow: 0px 0px 13px -3px #00000069;
}

.about .about_box .about_box_text h3, .about .about_box .about_box_text p {
    color: #fff;
}

.about .about_box .about_box_inner .about_icon {
    background: #3D52A0;
    border: 0;
}

.about .about_box .about_box_inner h4 {
    color: #7091E6;
}

.featured {
    background: #EDE8F5;
}

.featured h1 {
    color: #3D52A0;
}

.featured .featured_box_container .featured_box a {
    background: linear-gradient(to top, #3D52A0, #7091E6);
    border: 1px solid #fff;
    color: #fff;
}

.testimonial h1 {
    color: #3D52A0;
}

.testimonial .video_testimonial .owl-nav button.owl-prev, .testimonial .video_testimonial .owl-nav button.owl-next {
    background: linear-gradient(to top, #3D52A0, #7091E6);
    color: #fff;
}

.testimonial .video_testimonial .see_all_button {
    background: linear-gradient(to top, #3D52A0, #7091E6);
    color: #fff;
}

.testimonial .text_testimonial .owl-nav button.owl-prev, .testimonial .text_testimonial .owl-nav button.owl-next {
    background: linear-gradient(to top, #3D52A0, #7091E6);
    color: #fff;
}

.testimonial .text_testimonial .text .text_inner .author {
    background: linear-gradient(to left, #8697C4, #35488c, #334586);
    color: #fff;
}

.training .training_container .training_text {
    background: linear-gradient(to bottom, #8697C4, #35488c, #334586);
}

.training .training_container .training_text h1 {
    color: #fff;
}

.training .training_container .training_text p {
    color: #fff;
}

.training {
    background: #EDE8F5;
}

.training .training_container .training_slider .owl-nav button.owl-prev, .training .training_container .training_slider .owl-nav button.owl-next {
    background: linear-gradient(to top, #3D52A0, #7091E6);
    color: #fff;
}

.training .training_container .training_slider .training_image {
    border: 4px solid #3d52a0;
}

footer.footer {
    background: linear-gradient(to bottom, #8697C4, #35488c, #334586);
}

.contact .contact_inner a {
    background: linear-gradient(to top, #3D52A0, #7091E6);
    color: #fff;
}

/*==About page==*/
.about_inner_page .about_details h4 {
    color: #3D52A0;
}

.about_inner_page .about_details h3 span {
    color: #3D52A0;
}

.another_contact {
    background: linear-gradient(to bottom, #8697C4, #35488c, #334586);
}

.another_contact .right .btn-contact {
    background: linear-gradient(to top, #3D52A0, #7091E6);
    color: #fff;
    border: 1px solid #fff;
}

.facts h4 {
    color: #3D52A0;
}

.facts h3 span {color: #3D52A0;}

.small_banner .page_heading h1 {
    background: #35488c;
}

.facts .fact_box {
    border: 2px solid #3D52A0;
}

.facts .fact_box .fact_icon {border: 2px solid #3D52A0;}

.facts .fact_box h3 {
    color: #3D52A0;
}

.facts .fact_box_full .right {
    background: #3D52A0;
}

.values h4 {
    color: #3D52A0;
}

.values h3 span {
    color: #3D52A0;
}

/* Apply page */
.apply_form {
    background: linear-gradient(to left, #8697C4, #35488c, #334586);
}

.more {
    background: linear-gradient(to top, #3D52A0, #7091E6);
    color: #fff;
    border: 0;
}

/* Business page */
.top_client_slider .slider_inner .owl-carousel .owl-nav button.owl-prev,.top_client_slider .slider_inner .owl-carousel .owl-nav button.owl-next {
    background: linear-gradient(to bottom, #8697C4, #35488c, #334586);
}

.step_one .right_info_text h3 {
    color: #3D52A0;
}

.step_one .right_info_text .more_text {
    background: linear-gradient(to bottom, #8697C4, #35488c, #334586);
}

.step_one .right_info_text .more_text h4 {
    background: #eee8f6;
}

.information_container .form_box h3 {
    background: linear-gradient(to bottom, #8697C4, #35488c, #334586);
    color: #fff;
}

.information_container .form_box {
    background: #eef1ff;
}

.information_container .form_box form .form-group label {
    color: #3D52A0;
}

/* career_details page */
.career_details {
    background: linear-gradient(to bottom, #8697C4, #35488c, #334586);
}

.career_details .detials_block .more {
    border: 1px solid #fff;
}

.career_details ~ .details_bottom span.more {
    color: #fff;
}

/* Career page */
.career_container .right h4 {
    color: #3D52A0;
}

.career_container .right h4:before {
    background: #3D52A0;
}

.career_container .left {
    border: 5px solid #3D52A0;
}

.career_bottom h3 span {
    color: #3D52A0;
}

.career_bottom .left_box {
    background: #f1f3fc;
}

.career_bottom .left_box .no_job {
    color: #3D52A0;
}


.career_bottom .right_box .bottom_box {
    background: linear-gradient(to bottom, #8697C4, #35488c, #334586);
}

.career_bottom .right_box .bottom_box .more {
    border: 1px solid #fff;
}

/* contact Us */
.contact_info h4 {
    color: #3D52A0;
}

.contact_info h3 span {
    color: #3D52A0;
}

.contact_info h4:before {
    background: #3D52A0;
}

.contact_info .contact_block i {
    color: #3D52A0;
}

.contact_bottom .contact_form form .form-group label {
    color: #3D52A0;
}

.contact_bottom .contact_form form .btn-submit {
    background: linear-gradient(to top, #3D52A0, #7091E6);
    color: #fff;
    border: 0;
}
.contact_bottom .contact_form h4 {
    color: #3D52A0;
}

.contact_bottom .contact_form h4:before {
    background: #3D52A0;
}

/* FAQ page */
.faq_container .faq_top .faq_heading h3 {
    background: linear-gradient(to top, #3D52A0, #7091E6);
}

.faq_container .faq_bottom {
    background: linear-gradient(to top, #3D52A0, #7091E6);
}

.faq_container .faq_bottom .faq_block .list_no {
    background: #3D52A0;
    color: #fff;
    border: 1px solid #fff;
}

/* Partners page */

.news_inner h4 h4 {
    color: #3D52A0;
}

.news_inner h3 span {
    color: #3D52A0;
}

.news_inner h4:before {
    background: #3D52A0;
}

/* Press release page */
.news_sidebar .bottom {
    background: linear-gradient(to bottom, #8697C4, #35488c, #334586);
}

.n_bx:nth-child(1) .news_box .top, .n_bx:nth-child(4) .news_box .top, .n_bx:nth-child(7) .news_box .top {
    background-color: #3d52a1;
}

.n_bx:nth-child(2) .news_box .top, .n_bx:nth-child(5) .news_box .top, .n_bx:nth-child(8) .news_box .top {
    background-color: #7191e6;
}

.n_bx:nth-child(3) .news_box .top, .n_bx:nth-child(6) .news_box .top, .n_bx:nth-child(9) .news_box .top {
    background-color: #8697c3;
}
/* Press release details page */

.news_inner .details_top {
    background: linear-gradient(to bottom, #8697C4, #35488c, #334586);
}

.news_inner .details_top .right .right_bottom .more {
    border: 1px solid #fff;
}

.details_bottom h5 {
    background: #3D52A0;
}

.policy .policy_body {
    background: linear-gradient(to bottom, #8697C4, #35488c, #334586);
}

.map_block {
    background: linear-gradient(to bottom, #8697C4, #35488c, #334586);
}

.map_block h4 {
    background: #3D52A0;
    color: #fff;
}

.blue {
    background: #175590;
}

.purple {
    background: #0582d2;
}

.pink {
    background: #61afb9;
}

.brown {
    background: #7ab3d6;
}

