@charset "utf-8";


/**/

.header_right .category a.cat_hed {
    background: linear-gradient(to bottom, #E64833, #671e0b);
    color: #fff;
    border: 0;
}
.slider.custom_slider button.slide-arrow{
    background: linear-gradient(to bottom, #E64833, #671e0b);
    color: #fff;
    border: 0;
}
.about .about_box{
    background: linear-gradient(to left, #FBE9D0, #90AEAD);
}
.about .about_box .about_box_inner{
    background: linear-gradient(to right, #244855, #90AEAD);
}
.about .about_box .about_box_text h3{
    color: #244855;
}
.about .about_box .about_box_inner .about_icon{
    background: #90AEAD;
    border: 1px solid #fff;
}
.about .about_box .about_box_inner h4, .about .about_box .about_box_inner p{
    color: #fff;
}
.featured h1, .testimonial h1{
    color: #244855;
}
.featured p{
    color: #874F41;
}
.featured .featured_box_container .featured_box{
    background: #90AEAD;
}
.featured .featured_box_container .featured_box a{
    background: linear-gradient(to bottom, #E64833, #671e0b);
    color: #fff;
}
.testimonial .video_testimonial .owl-nav button {
    background: linear-gradient(to bottom, #E64833, #671e0b);
}

.testimonial .video_testimonial .see_all_button {
    background: linear-gradient(to bottom, #E64833, #671e0b);
    color: #fff;
}

.testimonial .text_testimonial .text .text_inner .author {
    background: linear-gradient(to left, #FBE9D0, #90AEAD);
    color: #244855;
}
.training{
    background: none;
}

.training .training_container .training_text {
    background: #244855;
}

.training .training_container .training_slider .owl-nav button {
    background: linear-gradient(to bottom, #E64833, #671e0b);
}

footer.footer {
    background: linear-gradient(to left, #FBE9D0, #90AEAD);
}

footer.footer .footer_box p {
    color: #244855;
}

footer.footer .footer_box h4 {
    color: #244855;
}

footer.footer .footer_box ul.footer_list li a {
    color: #244855;
}

footer.footer .footer_bottom p.fot_bot_menu a {
    color: #244855;
}

footer.footer .footer_bottom p.copy {
    color: #244855;
}

.testimonial .video_testimonial .owl-nav button.owl-prev, .testimonial .text_testimonial .owl-nav button.owl-prev,.training .training_container .training_slider .owl-nav button.owl-prev {
    background: linear-gradient(to bottom, #E64833, #671e0b);
    color: #fff;
}
.testimonial .video_testimonial .owl-nav button.owl-next, .testimonial .text_testimonial .owl-nav button.owl-next, .training .training_container .training_slider .owl-nav button.owl-next {
    background: linear-gradient(to bottom, #E64833, #671e0b);
    color: #fff;
}
.contact .contact_inner {
    background: #244855;
}

.contact .contact_inner h4 {
    color: #fff;
}

.contact .contact_inner a {
    background: linear-gradient(to bottom, #E64833, #671e0b);
    color: #fff;
}
#back-to-top {
    background: #244855;
    color: #fff;
}
.testimonial:before {
    background: #244855a1;
}
.training .training_container .training_slider .training_image {
    border: 4px solid #874F41;
}
.header_right .contact_info span a {color: #874F41;}